.login {
  height: 100vh;
  background: linear-gradient(to right, #0575e6, #021b79);
  display: grid;
  place-items: center;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.36);
}

.login__container > img {
  object-fit: contain;
  height: 200px;
  margin-bottom: 40px;
}

.login__container > a {
  color: #757575;
  text-decoration: none;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-group > input {
  width: 275px;
  padding: 10px 40px;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  background: #eee;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.form-group select {
  -webkit-appearance: none;
  margin: 10px 0;
  padding: 10px 40px;
  width: 275px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #eee;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  transition: all 150ms ease;
}

.form-group select option {
  color: #223254;
}

.form-group select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.form-group .form-icon {
  margin-right: -35px;
  z-index: 2;
}

.login__container .login-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 102px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: #0574e5;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease;
}

.login__container .register-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 102px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: #0574e5;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease;
}

.login__container .register-btn .register-icon {
  margin-right: 5px;
}

.login__container .login-btn:active {
  transform: translateY(3px);
}

.login__container .register-btn:active {
  transform: translateY(3px);
}

@media only screen and (max-width: 768px) {
  .login__container {
    padding: 25px;
  }
}

.btn-group {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}
